In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)

In [2]:
import csv

In [3]:
data_act = pd.read_csv(r'..\Data\actor.csv', encoding='latin1')

In [4]:
data_category = pd.read_csv(r'..\Data\category.csv', encoding='latin1')

In [5]:
data_film = pd.read_csv(r'..\Data\film.csv', encoding='latin1')

In [6]:
data_inv = pd.read_csv(r'..\Data\inventory.csv', encoding='latin1')

In [7]:
data_lang = pd.read_csv(r'..\Data\language.csv', encoding='latin1')

In [8]:
data_old = pd.read_csv(r'..\Data\old_HDD.csv', encoding='latin1')

In [9]:
data_rent = pd.read_csv(r'..\Data\rental.csv', encoding='latin1')

In [10]:
data_act.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [11]:
data_old.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 207.6 KB

In [12]:
data_act.last_update=pd.to_datetime(data_act.last_update, format='%Y-%m-%d')
type(data_act.last_update[0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
data_film.drop(columns = 'last_update', inplace=True)

In [14]:
data_rent.rental_date=pd.to_datetime(data_rent.rental_date, format='%Y-%m-%d')
type(data_rent.rental_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
data_rent.return_date=pd.to_datetime(data_rent.return_date, format='%Y-%m-%d')
type(data_rent.return_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
for c in data_rent.select_dtypes('integer').columns:
    
    data_rent[c]=pd.to_numeric(data_rent[c], downcast='integer')
data_rent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int8
 6   last_update   1000 non-null   object
dtypes: datetime64[ns](2), int16(3), int8(1), object(1)
memory usage: 96.8 KB

In [17]:
for c in data_act.select_dtypes('integer').columns:
    
    data_act[c]=pd.to_numeric(data_act[c], downcast='integer')
data_act.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int16
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int16(1), object(2)
memory usage: 26.6 KB

In [18]:

for c in data_film.select_dtypes('integer').columns:
    
    data_film[c]=pd.to_numeric(data_film[c], downcast='integer')
data_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int16
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int16
 4   language_id           1000 non-null   int8
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int8
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int16
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
dtypes: float64(3), int16(3), int8(2), object(4)
memory usage: 389.8 KB

In [19]:
for c in data_film.select_dtypes('float').columns:
    
    data_film[c]=pd.to_numeric(data_film[c], downcast='float')
data_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int16
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int16
 4   language_id           1000 non-null   int8
 5   original_language_id  0 non-null      float32
 6   rental_duration       1000 non-null   int8
 7   rental_rate           1000 non-null   float32
 8   length                1000 non-null   int16
 9   replacement_cost      1000 non-null   float32
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
dtypes: float32(3), int16(3), int8(2), object(4)
memory usage: 378.1 KB

In [20]:
for c in data_inv.select_dtypes('integer').columns:
    
    data_inv[c]=pd.to_numeric(data_inv[c], downcast='integer')
data_inv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int16
 1   film_id       1000 non-null   int16
 2   store_id      1000 non-null   int8
 3   last_update   1000 non-null   object
dtypes: int16(2), int8(1), object(1)
memory usage: 79.2 KB

In [21]:
for c in data_lang.select_dtypes('integer').columns:
    
    data_lang[c]=pd.to_numeric(data_lang[c], downcast='integer')
data_lang.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int8
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int8(1), object(2)
memory usage: 974.0 bytes

In [22]:

for c in data_old.select_dtypes('integer').columns:
    
    data_old[c]=pd.to_numeric(data_old[c], downcast='integer')
data_old.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int16
 4   category_id   1000 non-null   int8
dtypes: int16(1), int8(1), object(3)
memory usage: 194.9 KB

In [25]:
data_act.drop(columns = 'last_update', inplace=True)

In [26]:
data_category.drop(columns = 'last_update', inplace=True)

In [28]:
data_inv.drop(columns = 'last_update', inplace=True)

In [32]:
data_rent.drop(columns = 'last_update', inplace=True)

In [ ]:
#data_old.to_csv("old_HDD_clean.csv", index = False)

In [ ]:
#data_lang.to_csv("language_clean.csv", index = False)

In [ ]:
#data_rent.to_csv("rental_clean.csv", index = False)

In [ ]:
#data_inv.to_csv("inventory_clean.csv", index = False)

In [ ]:
#data_film.to_csv("film_clean.csv", index = False)

In [ ]:
#data_category.to_csv("category_clean.csv", index = False)

In [ ]:
#data_act.to_csv("actors_clean.csv", index = False)

In [ ]:
%pip install mysql-connector-python

In [ ]:
import mysql.connector as conn

In [ ]:
with open(r'C:\Users\pabli\apuntes_de_clase\w3-database-project\password_sql.txt', 'r') as file:
    pass_=file.read()



conexion=conn.connect(host='localhost', user='Pablogb', passwd=pass_) # conexion al servidor

cursor=conexion.cursor()

cursor.execute('drop database if exists cine;')

cursor.execute('create database cine;')

In [ ]:
data_old.head()

In [ ]:
data_rent.info(memory_usage='deep')

In [ ]:
data_act['full_name'] = data_act['first_name'] + " " + data_act['last_name']

In [ ]:
data_film.film_id[1]

In [ ]:
new_list = []
for d in data_old.title:    
    
    for i in range(len(data_old.title)):
    
        if d == data_film.title[i]:
            new_list.append(data_film.film_id[i])

In [ ]:
actor_id=[]
for e in data_old.values:
    for a in data_act.values:
        if e[0]==a[1] and e[1]==a[2]:
            actor_id.append(a[0])

In [ ]:
data_old['actor_id']=actor_id

In [ ]:
data_old['film_id']=new_list

In [ ]:
data_act

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import mysql.connector as conn

In [ ]:
str_conn='mysql://Pablogb:Pgb31415.@localhost:3306/cine'
cursor=create_engine(str_conn)

In [ ]:
data_category.to_sql(name='category', con=cursor, if_exists='append', index=False)

In [ ]:
data_act.to_sql(name='actor', con=cursor, if_exists='append', index=False)

In [ ]:
data_lang.to_sql(name='language', con=cursor, if_exists='append', index=False)

In [ ]:
data_film.to_sql(name='film', con=cursor, if_exists='append', index=False)

In [ ]:
data_inv.to_sql(name='inventory', con=cursor, if_exists='append', index=False)

In [ ]:
data_rent.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

In [ ]:
data_old.to_sql(name='old_HDD', con=cursor, if_exists='append', index=False)

In [ ]:
data_rent.info(memory_usage="deep")

In [ ]:
data_act.head()