In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)

In [2]:
import csv

In [3]:
data_act = pd.read_csv(r'..\Data\actor.csv', encoding='latin1')

In [4]:
data_category = pd.read_csv(r'..\Data\category.csv', encoding='latin1')

In [5]:
data_film = pd.read_csv(r'..\Data\film.csv', encoding='latin1')

In [6]:
data_inv = pd.read_csv(r'..\Data\inventory.csv', encoding='latin1')

In [7]:
data_lang = pd.read_csv(r'..\Data\language.csv', encoding='latin1')

In [8]:
data_old = pd.read_csv(r'..\Data\old_HDD.csv', encoding='latin1')

In [9]:
data_rent = pd.read_csv(r'..\Data\rental.csv', encoding='latin1')

In [10]:
data_act.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [11]:
data_old.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 207.6 KB

In [12]:
data_act.last_update=pd.to_datetime(data_act.last_update, format='%Y-%m-%d')
type(data_act.last_update[0])

pandas._libs.tslibs.timestamps.Timestamp

In [90]:
data_film.drop(columns = 'last_update', inplace=True)

KeyError: "['last_update'] not found in axis"

In [14]:
data_rent.rental_date=pd.to_datetime(data_rent.rental_date, format='%Y-%m-%d')
type(data_rent.rental_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
data_rent.return_date=pd.to_datetime(data_rent.return_date, format='%Y-%m-%d')
type(data_rent.return_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
for c in data_rent.select_dtypes('integer').columns:
    
    data_rent[c]=pd.to_numeric(data_rent[c], downcast='integer')
data_rent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int8
 6   last_update   1000 non-null   object
dtypes: datetime64[ns](2), int16(3), int8(1), object(1)
memory usage: 96.8 KB

In [17]:
for c in data_act.select_dtypes('integer').columns:
    
    data_act[c]=pd.to_numeric(data_act[c], downcast='integer')
data_act.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int16
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int16(1), object(2)
memory usage: 26.6 KB

In [18]:

for c in data_film.select_dtypes('integer').columns:
    
    data_film[c]=pd.to_numeric(data_film[c], downcast='integer')
data_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int16
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int16
 4   language_id       1000 non-null   int8
 5   rental_duration   1000 non-null   int8
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int16
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
 11  last_update       1000 non-null   object
dtypes: float64(2), int16(3), int8(2), object(5)
memory usage: 456.2 KB

In [19]:
for c in data_film.select_dtypes('float').columns:
    
    data_film[c]=pd.to_numeric(data_film[c], downcast='float')
data_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int16
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int16
 4   language_id       1000 non-null   int8
 5   rental_duration   1000 non-null   int8
 6   rental_rate       1000 non-null   float32
 7   length            1000 non-null   int16
 8   replacement_cost  1000 non-null   float32
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
 11  last_update       1000 non-null   object
dtypes: float32(2), int16(3), int8(2), object(5)
memory usage: 448.4 KB

In [20]:
for c in data_inv.select_dtypes('integer').columns:
    
    data_inv[c]=pd.to_numeric(data_inv[c], downcast='integer')
data_inv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int16
 1   film_id       1000 non-null   int16
 2   store_id      1000 non-null   int8
 3   last_update   1000 non-null   object
dtypes: int16(2), int8(1), object(1)
memory usage: 79.2 KB

In [21]:
for c in data_lang.select_dtypes('integer').columns:
    
    data_lang[c]=pd.to_numeric(data_lang[c], downcast='integer')
data_lang.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int8
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int8(1), object(2)
memory usage: 974.0 bytes

In [22]:

for c in data_old.select_dtypes('integer').columns:
    
    data_old[c]=pd.to_numeric(data_old[c], downcast='integer')
data_old.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int16
 4   category_id   1000 non-null   int8
dtypes: int16(1), int8(1), object(3)
memory usage: 194.9 KB

In [60]:
data_.drop(columns = 'last_update', inplace=True)

In [24]:
#data_old.to_csv("old_HDD_clean.csv", index = False)

In [25]:
#data_lang.to_csv("language_clean.csv", index = False)

In [26]:
#data_rent.to_csv("rental_clean.csv", index = False)

In [27]:
#data_inv.to_csv("inventory_clean.csv", index = False)

In [28]:
#data_film.to_csv("film_clean.csv", index = False)

In [29]:
#data_category.to_csv("category_clean.csv", index = False)

In [30]:
#data_act.to_csv("actors_clean.csv", index = False)

In [31]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pabli\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\pabli\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import mysql.connector as conn

In [33]:
conexion=conn.connect(host='localhost', user='Pablogb', passwd='Pgb31415.') # conexion al servidor

cursor=conexion.cursor()

cursor.execute('drop database if exists cine;')

cursor.execute('create database cine;')

In [34]:
data_old.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [35]:
data_rent.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int8
 6   last_update   1000 non-null   object
dtypes: datetime64[ns](2), int16(3), int8(1), object(1)
memory usage: 96.8 KB

In [36]:
data_act['full_name'] = data_act['first_name'] + " " + data_act['last_name']

In [37]:
data_film.film_id[1]

2

In [38]:
new_list = []
for d in data_old.title:    
    
    for i in range(len(data_old.title)):
    
        if d == data_film.title[i]:
            new_list.append(data_film.film_id[i])

In [39]:
actor_id=[]
for e in data_old.values:
    for a in data_act.values:
        if e[0]==a[1] and e[1]==a[2]:
            actor_id.append(a[0])

In [40]:
data_old['actor_id']=actor_id

In [41]:
data_old['film_id']=new_list

In [42]:
data_act

,actor_id,first_name,last_name,last_update,full_name
0,1,PENELOPE,GUINESS,2006-02-15 04:34:33,PENELOPE GUINESS
1,2,NICK,WAHLBERG,2006-02-15 04:34:33,NICK WAHLBERG
2,3,ED,CHASE,2006-02-15 04:34:33,ED CHASE
3,4,JENNIFER,DAVIS,2006-02-15 04:34:33,JENNIFER DAVIS
4,5,JOHNNY,LOLLOBRIGIDA,2006-02-15 04:34:33,JOHNNY LOLLOBRIGIDA
...,...,...,...,...,...
195,196,BELA,WALKEN,2006-02-15 04:34:33,BELA WALKEN
196,197,REESE,WEST,2006-02-15 04:34:33,REESE WEST
197,198,MARY,KEITEL,2006-02-15 04:34:33,MARY KEITEL
198,199,JULIA,FAWCETT,2006-02-15 04:34:33,JULIA FAWCETT
199,200,THORA,TEMPLE,2006-02-15 04:34:33,THORA TEMPLE

In [43]:
from sqlalchemy import create_engine

In [44]:
import mysql.connector as conn

In [108]:
str_conn='mysql://Pablogb:Pgb31415.@localhost:3306/cine'
cursor=create_engine(str_conn)

In [134]:
data_category.to_sql(name='category', con=cursor, if_exists='append', index=False)

16

In [135]:
data_act.to_sql(name='actor', con=cursor, if_exists='append', index=False)

200

In [136]:
data_lang.to_sql(name='language', con=cursor, if_exists='append', index=False)

6

In [137]:
data_film.to_sql(name='film', con=cursor, if_exists='append', index=False)

1000

In [138]:
data_inv.to_sql(name='inventory', con=cursor, if_exists='append', index=False)

1000

In [140]:
data_rent.to_sql(name='rental', con=cursor, if_exists='replace', index=False)

1000

In [141]:
data_old.to_sql(name='old_HDD', con=cursor, if_exists='append', index=False)

1000

In [101]:
data_rent.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int16
 1   rental_date   1000 non-null   datetime64[ns]
 2   inventory_id  1000 non-null   int16
 3   customer_id   1000 non-null   int16
 4   return_date   1000 non-null   datetime64[ns]
 5   staff_id      1000 non-null   int8
dtypes: datetime64[ns](2), int16(3), int8(1)
memory usage: 22.6 KB

In [125]:
data_act

     actor_id first_name     last_name            full_name
0           1   PENELOPE       GUINESS     PENELOPE GUINESS
1           2       NICK      WAHLBERG        NICK WAHLBERG
2           3         ED         CHASE             ED CHASE
3           4   JENNIFER         DAVIS       JENNIFER DAVIS
4           5     JOHNNY  LOLLOBRIGIDA  JOHNNY LOLLOBRIGIDA
..        ...        ...           ...                  ...
195       196       BELA        WALKEN          BELA WALKEN
196       197      REESE          WEST           REESE WEST
197       198       MARY        KEITEL          MARY KEITEL
198       199      JULIA       FAWCETT        JULIA FAWCETT
199       200      THORA        TEMPLE         THORA TEMPLE

[200 rows x 4 columns]