In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)

In [2]:
import csv

In [3]:
data_act = pd.read_csv(r'..\Data\actor.csv', encoding='latin1')

In [5]:
data_category = pd.read_csv(r'..\Data\category.csv', encoding='latin1')

In [6]:
data_film = pd.read_csv(r'..\Data\film.csv', encoding='latin1')

In [7]:
data_inv = pd.read_csv(r'..\Data\inventory.csv', encoding='latin1')

In [8]:
data_lang = pd.read_csv(r'..\Data\language.csv', encoding='latin1')

In [9]:
data_old = pd.read_csv(r'..\Data\old_HDD.csv', encoding='latin1')

In [10]:
data_rent = pd.read_csv(r'..\Data\rental.csv', encoding='latin1')

In [13]:
data_act.shape

(200, 4)

In [14]:
data_category.shape

(16, 3)

In [18]:
data_film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [20]:
data_lang.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19